{% extends 'base.html' %}

{% load staticfiles %}
{% block preloader %}
    {% if not error %}
    <div id="preloader">
        <div id="status"></div>
    </div>
    {% endif %}
{% endblock preloader %}

{% block content %}
    <div class="row">

        <!-- Intro Section Description -->
        <div id="intro_description" class="col-sm-7 col-md-7">

            <!-- Intro Section Title -->
            <h1><strong>Get better at Go with FREE game reviews</strong></h1>

            <!-- Description #1 -->
            <div class="intro_feature">
                <h4><i class="fa fa-check"></i>Get free in-depth reviews from stronger players</h4>
    {#								<p>Game reviews are the most effective way to improve your game quickly.#}
    {#								</p>#}
            </div>

            <!-- Description #2 -->
            <div class="intro_feature">
                <h4><i class="fa fa-check"></i>Give back by reviewing weaker players' games</h4>
    {#								<p>Strengthen your own analysis skills and give back to the community by reviewing games#}
    {#                                    for others.#}
    {#								</p>#}
            </div>

            <!-- Description #3 -->
            <div class="intro_feature">
                <h4><i class="fa fa-check"></i>Always free and easy to use</h4>
    {#								<p>Have your first game submitted in 2 minutes.#}
    {#								</p>#}
            </div>

    {#							<!-- Intro Section Button -->	#}
    {#							<div class="intro_button text-center">#}
    {#								<a class="btn btn-primary btn-lg" href="#">Download Now</a>#}
    {#							</div>#}

        </div>	<!-- End Intro Section Description -->


        <!-- Intro Section Form -->
        <div id="intro_form" class="col-sm-5 col-md-5">

            <!--Register form -->
            <div class="form_register">
                <h2> Register Now! </h2>
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
                <form action="." name="register" class="row" method="post">{% csrf_token %}

    {#									<div id="input_name" class="col-md-12">#}
    {#										<input id="name" class="form-control" type="text" name="first_name" placeholder="Full Name"> #}
    {#									</div>#}

                    <div id="input_email" class="col-md-12">
                        <input id="email" class="form-control" type="text" name="email" placeholder="Enter your email">
                    </div>

                    <div id="input_email" class="col-md-12">
                        <input id="password" class="form-control" type="password" name="password" placeholder="Choose a password">
                    </div>

    {#									<div id="input_phone" class="col-md-12">#}
    {#										<input id="phone" class="form-control" type="text" name="phone" placeholder="Phone Number"> #}
    {#									</div>#}
    {##}
    {#									<div id="input_message" class="col-md-12">#}
    {#										<textarea id="comments" class="form-control" name="message" rows="6" placeholder="Your Suggestion ..."></textarea>#}
    {#									</div> #}

                    <!-- Submit Button -->
                    <div id="form_register_btn" class="text-center">
                        <input class="btn btn-primary btn-lg" type="submit" value="Register" id="submit">
                    </div>

                </form>

            </div>
        </div>	<!-- End Intro Section Form -->

    </div>	<!-- End row -->
{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}